<div>
<div class="page_title">
  Address Book
  <a id="add_item_link" href="javascript://" title="Add a new Contact">
    <img src="/images/add-user.png" />
  </a>
</div>
</div>

<!-- image upload progress bar -->
<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
</div>


<div id="single_contact_display" class="add_new"></div>
<div id="contacts_list"></div>
<div id="list_region"></div>


<script id="empty_template" type="text/html">
  There are currently no items. Add one!
</script>

<script id="contact_template" type="text/html">
  
    <a href="javascript://" class="destroy_contact">
      <img src="/images/delete-icon.png" />
    </a>
  
    <div class="contact_subcontainer">
      
      <div class="info_row" id="name_container">  
        <span class="contact_attribute_edit" id="full_name"><%%- full_name%></span>
      </div>
      
      <div id="image_upload_container" class="info_row">
      
        <div id="image_display">
          <img src="<%%- (hasImage())? getImageUrl() : '/images/thumb/missing.png' %>" />
        </div>
        <div id="image_links">
          <div class="btn btn-success fileinput-button">
              <i class="glyphicon glyphicon-plus"></i>
              <a href="javascript://">
                <%%-(hasImage())? 'Change Image' : 'Upload Image'%>
              </a>
              <input class="fileupload" type="file" name="contact_image"/>
          </div>
          <a href="javascript://" class="destroy_image" style="<%%-(hasImage())? '' : 'display:none'%>">
            Delete Image
          </a>
        </div>
      </div>
      
      

      <div class="info_row">
        <label>Email </label>
        <span class="contact_attribute_edit" id="email"><%%- email%></span>
      </div>
      
      <div class="info_row">
        <label>Phone </label>
        <span class="contact_attribute_edit" id="phone"><%%- phone%></span>
      </div>

      <input type="button" class="add" value="Add"></input>
      
    </div>
  
  
    <div class="contact_subcontainer">
      
      <div id="both_address_lines" class="info_row">
        <label>Address</label>
        <div class="contact_attribute_edit" id="address_line_1"><%%- address_line_1%></div>
        <div class="contact_attribute_edit" id="address_line_2"><%%- address_line_2%></div>
      </div>


      <div class="info_row">
        <label>City </label>
        <span class="contact_attribute_edit" id="city"><%%- city%></span>
      </div>
      
        
      <div class="info_row">
        <label>State </label>
        <span class="contact_attribute_edit_select" id="state"><%%- $GLOBALS.us_states[state]%></span>
      </div>
      
      <div class="info_row">
        <label>Zip </label>
        <span class="contact_attribute_edit" id="zip"><%%- zip%></span>
      </div>

      <div class="info_row">
        <label>Notes:</label>
        <div class="contact_attribute_edit_area notes_display" id="extra_notes"><%%- extra_notes%></div>
      </div>
      
    </div>
    
    
</script>