<h1>
  Address Book
  <a id="add_item_link" href="javascript://" title="Add a new Contact">
    <img src="/images/add-user.png" />
  </a>
</h1>

<!-- image upload progress bar -->
<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
</div>


<div id="add_new"></div>
<div id="contacts_list"></div>
<div id="list_region"></div>


<script id="empty_template" type="text/html">
  There are currently no items. Add one!
</script>

<script id="contact_template" type="text/html">
  
    <div class="contact_basicinfo_container contact_subcontainer" >
      <label>Name</label>
      <span class="contact_attribute_display"><%%- full_name%></span>
      <input id="full_name" type="text" class="contact_attribute_input" value="<%%- full_name%>" />
      <br />

      <label>Email </label>
      <span class="contact_attribute_display"><%%- email%></span>
      <input id="email" type="text" class="contact_attribute_input" value="<%%- email%>" />
      <br />

      <div id="image_upload_container">
        <label>Picture:</label>
        <div id="image_display">
          <img src="<%%- (hasImage())? getImageUrl() : '/images/thumb/missing.png' %>" />
        </div>

        <div class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <a href="javascript://">
              <%%-(hasImage())? 'Change Image' : 'Upload Image'%>
            </a>
            <input class="fileupload" type="file" name="contact_image"/>
        </div>
        <a href="javascript://" class="destroy_image" style="<%%-(hasImage())? '' : 'display:none'%>">
          Delete Image
        </a>
      </div>
    </div>
  
  
    <div class="contact_address_container contact_subcontainer">
      <div id="both_address_lines">
        <label>Address</label>
        <div class="contact_attribute_display"><%%- address_line_1%></div>
        <input id="address_line_1" type="text" class="contact_attribute_input" value="<%%- address_line_1%>" />
        <div class="contact_attribute_display"><%%- address_line_2%></div>
        <input id="address_line_2" type="text" class="contact_attribute_input" value="<%%- address_line_2%>" />
      </div>



      <label>City </label>
      <span class="contact_attribute_display"><%%- city%></span>
      <input id="city" type="text" class="contact_attribute_input" value="<%%- city%>" />
      <br />

      <label>State </label>
      <span class="contact_attribute_display"><%%- state%></span>
      <input id="state" type="text" class="contact_attribute_input" value="<%%- state%>" />
      <br />

      <label>Zip </label>
      <span class="contact_attribute_display"><%%- zip%></span>
      <input id="zip" type="text" class="contact_attribute_input" value="<%%- zip%>" />
      <br />

      <label>Notes:</label><br/>
      <span class="contact_attribute_display" id="notes_display" ><%%- extra_notes%></span>
      <textarea id="extra_notes" class="contact_attribute_input"><%%- extra_notes%></textarea>
      <br />
    </div>
    
    
    
    <div id="action_links">
      <a href="javascript://" class="destroy">
        Delete
      </a>
      &nbsp;
      <a href="javascript://" class="toggle_edit">
        Edit
      </a>
      &nbsp;
      <input type="button" class="save" value="Save"></input>
      &nbsp;
      <input type="button" class="add" value="Add"></input>
    </div>
</script>