/*Alexander Pilafian 2014-11-19*/
/*This is the CSS for the contact list interface*/

/*Globally set the font to arial*/
* {
    font-family: arial;
}

a{
    text-decoration: none;
}

.dbg_border{
    border: 1px solid red;
}

/*hides the save button and the edit-inputs if the View is in "display_mode"*/
.display_mode .contact_attribute_input,
.display_mode input.save{
    display:none;
}

/*hides the toggle edit link and the textual attribute display if the View
is in "edit" mode*/
.add_new .contact_attribute_display,
.edit_mode .contact_attribute_display,
.edit_mode a.toggle_edit{
    display:none;
}

/*hides the unrelated bottom links in the "Create new Contact" popup...*/
div.add_new a.toggle_edit,
div.add_new a.destroy_contact,
div.add_new input.save,
div.add_new div#image_upload_container{
    display:none;
}

/*hides the "add" button in all cases except if within the "Create new contact" popup...*/
input.add{
    display:none;
}

div.add_new input.add{
    display:block !important;
}

/*progress bar styling*/
#progress{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 99%;
    margin: 5px;
    border: 1px solid black;
    height: 20px;
}
#progress div.progress-bar-success{
    height: 20px;
    width: 0px;
    background-color:red;
}


/*page header style*/
div.page_title{
    margin:0px auto;
    margin-bottom:15px;
    position: relative;
    width: 500px;
    font-variant: small-caps;
    font-size: 36px;
    font-weight: bold;
}

/*"Create new contact" popup link style*/
a#add_item_link img{
    float:right;
    height: 50px;
    width: 50px;
    
    margin-bottom: -15px;
}

/*Hides the "Create new contact" popup *content* until the Dialog is summoned*/
div.add_new{
    display:none;
}

/*Actual contact info display box styling...*/
#single_contact_display{
    margin:5px auto;
    border: 2px solid grey;
    padding: 5px;
    width: 500px;
    height: 250px;
    
    top: 0px;
    clear: none;
}

/*create a subdivision within each "contact card"*/
#single_contact_display .contact_subcontainer{
    width:240px;
    padding: 5px;
    float:left;
    height:100%;
}

#single_contact_display label{
 font-variant: small-caps;
}

#single_contact_display div#image_upload_container{
    height:100px;
    
}

#single_contact_display div#image_upload_container #image_links{
    float:right;
    width:130px;
}

#single_contact_display div#image_upload_container #image_links a{
 font-size: 11px;
}

#single_contact_display div#image_upload_container #image_display{
    float:left;
}

#single_contact_display #action_links{
    clear:both;    
    width: 100%;
}

#single_contact_display .contact_attribute_display,
#single_contact_display .contact_attribute_input{
    float:right;
    width:165px;
    
    overflow:hidden;
}

#single_contact_display .contact_attribute_display{
    text-align: right;
}

/*For a textarea, it's vital that the text alignment is left.'*/
#single_contact_display textarea.contact_attribute_input{
    text-align:left !important;
}

#single_contact_display.add_new #notes_display{
    display:none;
}

/*For the textual notes display scroller. Note that the text-align is set to left 
here too because it's multiline content...'*/
#single_contact_display #notes_display{
    width: 238px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    
    padding-top: 5px;
    padding-bottom: 5px;
    
    margin-top: 5px;
    margin-bottom: 5px;
    
    height: 70px; 
    text-align:left !important;
    overflow-y: scroll;
}

#single_contact_display .info_row{
    margin-bottom:2px;
    overflow:hidden;
}

#single_contact_display .info_row#both_address_lines{
    height: 50px;
}

#single_contact_display .info_row input{
    height:15px;
    font-size:10px;
}

#single_contact_display .info_row textarea{
    font-size:10px;
    height:50px;
}

#single_contact_display .info_row#both_address_lines input{
    margin-bottom:2px;
}

#single_contact_display a.destroy_contact{
    margin-top: -15px;
    margin-right: -15px;
    float:right;
}

#single_contact_display .info_row#name_container{
    margin-bottom: 5px;
}

#single_contact_display .info_row#name_container .contact_attribute_display,
#single_contact_display .info_row#name_container input{
    float:left;
    
    font-size:20px;
    font-weight:bold;
    text-align:left;
    
    height:22px;
    width:100%;   
}