/*Alexander Pilafian 2014-11-19*/
/*This is the CSS for the contact list interface*/

div#contacts_list li.display_mode .contact_attribute_input,
div#contacts_list li.display_mode input.save{
    display:none;
}

div#contacts_list li.edit_mode .contact_attribute_display,
div#contacts_list li.edit_mode a.toggle_edit{
    display:none;
}

div.create_mode a.toggle_edit,
div.create_mode a.destroy,
div.create_mode input.save{
    display:none;
}

input.add{
    display:none;
}

div.create_mode input.add{
    display:block !important;
}